.app1{
    position: fixed;
    opacity: 0;
    top: 0;
    height: 100%;
    transition: 0.3s;
    background-image: url(bac.jpg);
    background-size: 100px;
    width: 100%;
}
.app1_image{
    height: 100%;
    position: absolute;
}

.description{
    background-color: white;
    height: 500px;
    width: 250px;
    transition: 0.5s;

    border: 15px solid black;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    right: 50px;

    
}

.mobile_side_button{
    height: 50px;
    width: 20px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: -20px;
}

.description .notch{
    width: 100px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: -10px;
    border-radius: 20px;
    left: 50%;
    margin-left: -50px;
}



.mobile_view_button{
    width: 80%;
    margin:0 10% ;
    position: absolute;
    bottom: 100px;
    transition: 0.5s;
    padding: 10px 0;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Annie Use Your Telescope';
    background-color: white;
    display: none;
    border-radius: 20px;
    cursor: pointer;
    
}
.meter{
    top: 10px;
    margin: auto;
    display: flex;
    width: fit-content;


}

.meter a{
    color: black;
    border-radius: 20px;
    background-color: white;
    font-family: 'Annie Use Your Telescope' ;
    text-decoration: none;
    margin: 10px 10px;
    padding: 5px 10px;

}

@media screen and  (max-width:1000px){
    .app1_image{
        width: 100%;
        position: absolute;
        top: -20%;
    }

    .description{
     
        right: 50%;
        margin-right: -140px;
        transform: translateY(500px);        
    }

    .mobile_view_button{
        display: block;
    }
}