



.menu{
  margin: auto;
  z-index: 999;
    text-align: center;
    position: fixed;
    width: 100%;
      font-family: 'Annie Use Your Telescope';
    top: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}




